<div id="blog-list" class="blog-list">
  <a href="<%= root_path %>">
    <section class="header">
      <article>
        <h1><span class="darker">Jack Hughes/</span>Blog Posts</h1>
      </article>
    </section>
  </a>
  <section class="blog">
    <article>
      <h2>Blog posts</h2>
      <ul>
        <% @posts.each do |post| %>
          <li><%= link_to post.title, post %></li>
        <% end %>
      </ul>
    </article>
  </section>
</div>
