// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



div.home {

  section > * {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
    padding-bottom: 3em;
  }
  
  section.header {
    background-color: #2980b9;
  }

  section.blog {
    background-color: #439cd5;
  }

  section.projects {
    background-color: #81bde3;
  }

  section.contact {
    background-color: #bfdef1;
  }

  section.header * {
    text-align: center;
    color: #ffffff;
  }

  section.header img.logo {
    width: 15em;
    height: 15em;
    border-radius: 100em;
  }

  @media screen and (max-width: 20em) {
    section.header img.logo{
      width: 90%;
      height: auto;
    }
  }

  section.blog * {
    color: #ffffff;
  }

  section.blog ul {
    list-style-type: none;
  }

  section.blog ul li {
    color: #000000;
    background-color: #ffffff;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 1.25rem;
    cursor: pointer;
  }

  section.blog ul li a {
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 1.5em;
    display: block;
  }

  section.blog ul li a:hover {
    background-color: #bfdef1;
  }

  section.blog a.blog-more {
    color: #000000;
    background-color: #bfdef1;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 1.5em;
    display: block;
    &:hover {
      background-color: #81bde3;
    }
  }

  section.projects * {
    color: #ffffff;
  }

  section.projects ul {
    list-style-type: none;
  }

  section.projects ul li {
    color: #000000;
    background-color: #ffffff;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 1.25rem;
    cursor: pointer;
  }

  section.projects ul li a {
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 1.5em;
    display: block;
  }

  section.projects ul li a:hover {
    background-color: #bfdef1;
  }

  section.projects img.project-hero {
    max-width: 100%;
  }

}
